* {
  margin: 0;
  font-family: "Roboto";
}

header {
  background-image: url(./design-assets/bgk-header.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}
nav {
  color: rgb(120, 217, 204);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 30px;
}

#nav_right {
  display: flex;
  gap: 20px;
}

#nav_right a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: bold;
  font-family: "Hammersmith One";
}

#nav_right a:hover {
  color: rgb(120, 217, 204);
}

#nav_left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Roboto";
  font-weight: 100;
}

.header_text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_text hr {
  width: 40px;
  border: 0.5px solid rgb(120, 217, 204);
}

#hero-section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  gap: 20px;
  margin: 150px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 100;
}

#hero-section h1 {
  font-family: "Playfair Display";
}

#hero-section button {
  background-color: transparent;
  border: 1px solid rgb(120, 217, 204);
  color: rgb(120, 217, 204);
  border-radius: 2px;
  padding: 10px 15px;
  font-family: "Hammersmith One";
}

#our_story-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
}

#hero-section h2 {
  font-family: "Playfair Display";
}

#story_right_side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 600px;
}

#our_story-section button {
  background-color: transparent;
  border: 1px solid rgb(120, 217, 204);
  color: rgb(120, 217, 204);
  border-radius: 2px;
  padding: 10px 15px;
  font-family: "Hammersmith One";
}

#watch-section {
  display: flex;
  color: white;
  background-image: url(design-assets/bgk-middle.png);
  background-repeat: no-repeat;
  background-position: 50%;
  height: 550px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#watch-section .watch-icon {
  display: flex;
  align-items: center;
  padding: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
}

#expertise-section {
  display: grid;
  grid-template: 1fr 1fr 3fr 3fr 50px / 1fr 350px 350px 350px 1fr;
  align-items: stretch;
  justify-items: stretch;
  text-align: center;
  height: 750px;
}

.expertise {
  grid-column: 1 / span 5;
  grid-row: 1 / 3;
  text-align: center;
  margin: 10px;
  padding: 3rem;
}
.expertise:after {
  margin: 12px auto 24px;
  width: 50px;
  height: 3px;
  background-color: grey;
  display: block;
  content: "";
}

.webdev {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: grid;
  padding: 2rem;
  border-bottom: 1px solid #dfdfdf;
}

.brandidentity {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: grid;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 2rem;
}

.mobile {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  display: grid;
  padding: 2rem;
  border-bottom: 1px solid #dfdfdf;
}

.seo {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  display: grid;
  padding: 2rem;
}

.gamedev {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  display: grid;
  padding: 2rem;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.made-with-love {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  display: grid;
  padding: 2rem;
}

#team-section {
  width: 100%;
  height: 500px;
  background-image: url("design-assets/bgk-header.png");
  background-repeat: no-repeat;
  background-position: 50%;
  color: white;
  text-align: center;
}

#team-section_header {
  color: white;
  font-family: "Playfair Display";
  padding: 30px;
  margin: 0px;
}

#team-section_second-part {
  display: flex;
  margin-top: 20px;
  margin-left: 450px;
  margin-right: 400px;
  text-align: center;
}

#img1 {
  width: 150px;
  height: 140px;
  background-color: white;
}

#label {
  width: 150px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Hammersmith One";
}

#label2 {
  width: 150px;
  font-size: 10px;
  height: 25px;
  text-decoration: none;
  font-weight: normal;
  font-family: "Roboto";
}

.first_img {
  height: 200px;
  width: 150px;
  border-style: solid;
  border-color: white;
  border-width: 0.1px;
}

.second_img {
  height: 200px;
  width: 150px;
  margin-left: 10px;
  border-style: solid;
  border-color: white;
  border-width: 0.1px;
}

.third_img {
  height: 200px;
  width: 150px;
  margin-left: 10px;
  border-style: solid;
  border-color: white;
  border-width: 0.1px;
}

.fourth_img {
  height: 200px;
  width: 150px;
  margin-left: 10px;
  border-style: solid;
  border-color: white;
  border-width: 0.1px;
}

.team-section_third-part {
  margin-top: 50px;
}

#third-part_header {
  font-size: 12px;
  font-family: "Playfair Display";
}

#third-part_button {
  background-color: transparent;
  color: rgb(120, 217, 204);
  margin-top: 10px;
  width: 105px;
  height: 25px;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid rgb(120, 217, 204);
  font-family: "Hammersmith One";
}

#news-section {
  width: 100%;
  height: 500px;
  background-color: white;
  display: flex;
}

#news-section_first-part {
  margin-left: 400px;
  padding: 60px;
}
#news-section_header {
  font-family: "Playfair Display";
  font-size: 15px;
}

#news-section_name {
  margin-top: 20px;
  width: 270px;
  height: 25px;
  border: 1px solid gray;
  font-size: 10px;
}

#news-section_email {
  margin-top: 15px;
  width: 270px;
  height: 25px;
  border: 1px solid gray;
  font-size: 10px;
}

#news-section_subject {
  margin-top: 15px;
  width: 270px;
  height: 25px;
  border: 1px solid gray;
  font-size: 10px;
}

#news-section_textarea {
  margin-top: 15px;
  width: 270px;
  height: 150px;
  border: 1px solid gray;
  font-size: 10px;
}

#news-section_button {
  margin-top: 15px;
  width: 120px;
  height: 25px;
  border: 1px solid rgb(120, 217, 204);
  font-size: 10px;
  background-color: transparent;
  font-family: Hammersmith One;
  color: rgb(120, 217, 204);
}

#news-section_logo-part {
  margin-top: 60px;
  margin-right: 300px;
}

#news-section_header2 {
  font-family: "Playfair Display";
  font-size: 15px;
}

#logo {
  display: flex;
}

#logo_part1 {
  height: 50px;
  display: grid;
  gap: 8px;
}

#logo_part2 {
  margin-top: -25px;
  display: grid;
  gap: 8px;
  margin-left: 150px;
}

#mango {
  width: 100px;
}

#zara {
  margin-top: 25px;
  width: 100px;
}

#barneysnewyork {
  width: 100px;
}

#calvinklein {
  width: 100px;
}

#converse {
  width: 100px;
}

#levis {
  width: 100px;
}

#gucci {
  width: 100px;
}

#nike {
  width: 100px;
}

#puma {
  width: 100px;
}
#billabong {
  width: 100px;
}

#footer {
  background-image: url(./design-assets/bgk-footer.png);
  /* width: 1600px;
  height: auto; */
  background-repeat: no-repeat;
  background-position: 50%;
  color: white;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.footer-container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  height: 200px;
  margin: 0 auto;
  justify-content: center;
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.logo-name-flex-container {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 300;
  padding: 10px;
}

.tajam-flex-item {
  margin-left: 15px;
  color: rgb(120, 217, 204);
}

#p-footer {
  padding: 10px;
  font-family: Roboto;
  font-size: 12px;
}

.address-flex-container {
  display: flex;
  flex: initial;
  align-items: center;
  padding-top: 30px;
  font-family: Roboto;
  font-size: 12px;
}

/* .footer-item-2 p {
  display: inline-block;
} */

.footer-item-2 h2 {
  display: flex;
  align-items: center;
  padding-top: 30px;
  font-family: Playfair;
  font-size: 14px;
}

.address-flex-item {
  margin-left: 5px;
}

.phone-flex-container {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 12px;
  padding-top: 5px;
}

.phone-flex-item {
  margin-left: 5px;
}

.form-flex-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
  grid-column-gap: 5px;
}

.footer-item-3 h2 {
  display: flex;
  align-items: center;
  padding-top: 30px;
  font-family: Playfair;
  font-size: 14px;
}

/* .subscribe-grid-item {
  content: 0;
  padding: 0;
} */
.footer-item-3 input {
  background: transparent;
  margin-top: 10px;
}

.footer-item-3 button {
  opacity: 0.5;
}

.icons-flex-container {
  margin-top: 20px;
}
#icons-footer {
  padding: 0 5px 0 5px;
}
.nav-footer-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
  margin: 0 auto;
  font-size: 16px;
  color: white;
}

.nav-left-footer-flex-container {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-inline-start: 0;
  margin-top: 40px;
}

.nav-right-footer {
  display: flex;
  justify-content: flex-end;
}
a.list-footer {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-family: "Roboto";
}
a.list-footer:hover {
  color: rgb(120, 217, 204);
}
.nav-right-footer {
  font-size: 13px;
  font-family: Roboto;
  margin-top: 40px;
}
