* {
  margin: 0;
  font-family: 'Roboto';
}

header {
  background-image: url(./design-assets/bgk-header.png);
}

nav {
  color: rgb(120, 217, 204);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 30px;;
}

#nav_right {
  display: flex;
  gap: 20px;
}

#nav_right a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: bold;
  font-family: 'Hammersmith One';

}

#nav_right a:hover {
  color: rgb(120, 217, 204);
}

#nav_left {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Roboto';
  font-weight: 100;
}

.header_text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 522.8px;
}

.header_text hr {
  width: 40px;
  border: 0.5px solid rgb(120, 217, 204);
}

#hero-section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  gap: 20px;
  text-align: center;
  font-family: 'Roboto';
  font-weight: 100;
}

#hero-section h1 {
  font-family: 'Playfair Display'
}

#hero-section button {
  background-color: transparent;
  border: 1px solid rgb(120, 217, 204);
  color: rgb(120, 217, 204);
  border-radius: 2px;
  padding: 10px 15px;
  font-family: 'Hammersmith One';
}

#our_story-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 50px;
}

#hero-section h2 {
  font-family: 'Playfair Display'
}

#story_right_side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 600px;
}

#our_story-section button {
  background-color: transparent;
  border: 1px solid rgb(120, 217, 204);
  color: rgb(120, 217, 204);
  border-radius: 2px;
  padding: 10px 15px;
  font-family: 'Hammersmith One';
}

#watch-section {
  display: flex;
  color: white;
  background-image: url(design-assets/bgk-middle.png);
  height: 550px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#watch-section .watch-icon {
  display: flex;
  align-items: center;
  padding: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 50px;
}

#expertise-section {
  display: grid;
  grid-template: 1fr 1fr 3fr 3fr 50px / 1fr 350px 350px 350px 1fr;
  align-items: stretch;
  justify-items: stretch;
  text-align: center;
  color: fuchsia;
  height: 750px;

}

.expertise {
  grid-column: 1 / span 5;
  grid-row: 1 / 3;
  text-align: center;
  margin: 10px;
  padding: 3rem;

}
.expertise:after {
  margin: 12px auto 24px;
  width: 50px;
  height: 3px;
  background-color: grey;
  display: block;
  content: "";
}

.webdev {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  display: grid;
  padding: 2rem;
  border-bottom: 1px solid #dfdfdf;
}

.brandidentity {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  display: grid;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  padding: 2rem;
}

.mobile {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  display: grid;
  padding: 2rem;
  border-bottom: 1px solid #dfdfdf;
}

.seo {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  display: grid;
  padding: 2rem;
}

.gamedev {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  display: grid;
  padding: 2rem;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}

.made-with-love {
  grid-column: 4 / 5;
  grid-row: 4 / 5;
  display: grid;
  padding: 2rem;
}

#team-section {
  color: yellowgreen;
}

#contact_client-section {
  color:lightsalmon;
}

footer {
  color: blueviolet;
}